body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	scroll-behavior: smooth;
	background: url(bgr.jpg);
	background-attachment: scroll;
}

ul.navbar{
	list-style-type: none;
	background-color: #282e34;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	height: 60px;
	overflow: hidden;
	z-index: 2;
}
.navbar li{
	float: right;
}

.navbar li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
}

li.cname{
	float: left;
	font-size: 18px;
	margin-left: 50px;
	display: block;
}

li a:hover:not(.active){
	background-color: #222222;
}

.active{
	text-decoration: underline;
	background-color: #111111;
}

div{
	display: block;
}

.pmg1, .pmg2, .pmg3, .pmg4{
	position: relative;
	background-position: center;
	background-size: cover;
	z-index: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.pmg1{
	background-image:url('pmg1.png');
	min-height: 100%;
}

.pmg2{
	background-image:url('pmg2.png');
	min-height: 700px;
}
.pmg3{
	background-image:url('pmg3.png');
	min-height: 700px;
}
.pmg4{
	background-image:url('pmg4.png');
	min-height: 700px;
}

.crd1{
	width: 70%;
	height: 100%;
	margin-bottom: 50px;
}

.ptxt{
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 30px;
	color: #000;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
}

.border{
	background-color: #222222;
	color: #ffffff;
	padding: 20px;
	font-size: 50px;
}

.sec-light{
	padding: 100px;
	color: #666;
}
.sec-light h1{
	font-size: 50px;
}
.sec-light .up h1{
	font-size: 50px;
}
.sec-light p{
	font-size: 20px;
}
.sec-dark{
	padding: 100px;
	color: #ddd;
}

.container-dark{
	background-color:#282e34;
	width: 100%;
	height: 800px;
}
.container-dark .cdleft{
	width: 30%;
	float: left;
}
.container-dark .cdright{
	width: 30%;
	float: right;
}
.container-dark .cdcenter{
	width: 30%;
	margin: 50px auto;
}

.ffleft{float: left;}	.ffright{float: right;}

.crd1{
	overflow: hidden;
}
.crd11{
	width: 30%;
	margin: 0.1% auto;
	position: absolute;
}
.crd12{
	width: 50%;
	margin-right: 20%;
}

.up{
	text-transform: uppercase;
}

.hmenu h2{
	font-size: 30px;
}
.hmenu li{
	font-size: 22px;
}
.hmenu{
	margin-bottom: 50px;
}

.btn{
	padding: 20px 40px;
	background-color: #ddd;
	text-decoration: none;
	text-align: center;
	color: #222222;
}
.btn:hover{
	text-decoration: underline;
}

label{
	font-size: 20px;
}

input.ic{
	width: 600px;
	height: 50px;
	font-size: 15px;
}
input.msg{
	width: 600px;
	height: 200px;
	font-size: 15px;
}
.tbtn{
	text-transform: uppercase;
	letter-spacing: 4px;
}

.footer{
	background-color: #eee9e2;
	width: 100%;
	height: 350px;
	padding-bottom:50px;
}
.ccf{
	padding: 80px 80px 0px 80px;
}
.ccf h1{
	text-transform: uppercase;
	font-size: 25px;
}
.ccf p{
	font-size: 20px;
}
.ct{
	font-size: 20px;
}

con1{
	width: 100%;
}


.con1 h1{
	font-size: 50px;
}
.con1 h2{
	font-size: 30px;
}
.con1 p{
	font-size: 20px;
}

.con2{
	color: #666;
	padding: 100px;
	width: 65%;
}
.con2 table{
	margin-top: -20px;
}
.con2 table tr td{
	padding: 50px;
}

.con3{
	width: 550px;
	height: 475px;
	padding: 10px;
	background-color: #d4d5d6;
}
.con3 p{
	margin-bottom: -15px;
	font-size: 20px;
}

.con3 img{
	width: 500px;
	height: 300px;
	margin-left: 20px;
	margin-top: 10px;
}

.con3 a{
	display: inline-block;
	margin:15px 0 0 190px;
	padding: 20px 40px;
	background-color: #53585d;
	text-decoration: none;
	text-align: center;
	color: #eee;
}
.con3 a:hover{
	text-decoration: underline;
}

.contxt{
	width: 400px;
	height: 60px;
	letter-spacing: 4px;
	margin-left: 50px;
}

.w3w{
	width: 140%;
	height: 10px;
	margin-left: -20px;
	background-color: #666;
}


.logcon{
	width: 100%;
	height: 80%;
	display: flex;
	color: #666;
}
.log1{
	width: 65%;
	height: auto;
}
.log2{
	width: 35%;
	background-color: #222222;
	height: auto;
	padding-right: 5%;
	padding-left: 5%;
	color: #ddd;
}
.logincont{
	width: 100%;
	padding: 100px 0px 100px 0px;
	display: block;
	position: relative;
}
.logincont h1{
	font-size: 50px;
	text-align: center;
}
.logincont h2{
	font-size: 40px;
	text-align: center;
}
.logincont form input{
	width: 50%;
	height: 50px;
	font-size: 15px;
	margin-left: 25%;
	margin-top: 2%;
	letter-spacing: 2px;
}
.logincont form a{
	display: inline-block;
	margin:3% 0 0 43%;
	padding: 2% 4%;
	background-color: #53585d;
	text-decoration: none;
	text-align: center;
	color: #eee;
	letter-spacing: 4px;
}
.logincont form a:hover{
	text-decoration: underline;
}

.log2 .logincont{
	margin-top: 15%;
}
.log2 .logincont a{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #ddd;
	text-decoration: underline;
}
/*forgot pass*/
.logincont .forgot{
	font-size: 20px;
	color: #666;
	margin: 10% 0 0 43%;
}